/* *{
    border: solid black 1px;
} */

html{
    box-sizing: border-box;
}


body {
    font-family: "Montserrat", sans-serif;
    /* background-image: linear-gradient(#fff, #151616); */
    background-color: #2f2f2f;
    text-align: center;
    margin: 0;
}

/* main{
    background-color: #fbfbfb;
} */

.animal,.colors,.Type,.Evolution,.team{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 0.5rem 0.5rem rgb(0 0 0 / 0.35);
    margin: 1rem auto;
    padding: 1rem;
    position: relative;
}

.animal,.colors,.Type,.Evolution{
    min-height:425px;
    width: 75%;
}

.typeevo > div{
    min-height: 150px;
}

.fade-in,.res1,.team{
    animation: fade-in 0.5s ease-in forwards;
}

@keyframes fade-in {
    0% {
      opacity:0;
    }
  
    100% {
      opacity:1;
    }
}

#menu {
    display: none;
}

.typeevo{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}


.typeevo > div{
    height:75%;
}

.color{
    height:1.5rem;
    width: 75%;
    margin:0 auto;
}

header{
    background-color: #ef5350;
    color:white;
    font-weight: 700;
}

nav ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    list-style: none;
    align-items: center;
}

nav ul li{
    width: 15%;
    text-align: center;
    padding:1rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.res1 a, .team a{
    text-decoration: none;
    color: #2f2f2f;
    font-size: 1.5rem;
    padding:1rem;
}

ul li:hover, .res1 a:hover, .team a:hover{
    background-color:#2f2f2f; 
    color: white;
 }
 
 .res1 a:hover{
     animation-duration: 0.7s;
     animation-name: grow-shrink;
 }

.create:hover{
    background-color: #fbfbfb;
    color:#2f2f2f; 
    animation-duration: 0.7s;
    animation-name: grow-shrink;
}

@keyframes grow-shrink {
    50% {
      transform: scale(115%);
    }
}

.create{
    background-color: #ef5350;
    width:50%;
    border-radius: 1rem;
    color:white;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
}

.pin{
    background-color: #ef5350;
    position: absolute;
    right: 0;
    top: 0;
    height:50px;
    width:50px;
}

.pin.clicked{
    background-color: #2f2f2f;
}

.results{
    display:none;
    grid-template-columns: 1fr 1fr 1fr;
}

.animal img, .animalres img{
    max-height:200px;
    margin:0;
    max-width: 90%;
}

.team{
    background-color: white;
    margin:1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.05fr 0.05fr 0.05fr;
}

.animalres{
    grid-column: 1/2;
    grid-row: 1/4;
    align-self: center;
}

.rowone{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.rowone h2{
    grid-row: 1/2;
    grid-column: 1/4;
}

.colorone{
    grid-row: 2/3;
    grid-column: 1/2;
}

.colortwo{
    grid-row: 2/3;
    grid-column: 2/3;
}

.colorthree{
    grid-row: 2/3;
    grid-column: 3/4;
}

.rowtwo{
    grid-column: 2/3;
    grid-row: 2/3;
}

.rowthree{
    grid-column: 2/3;
    grid-row: 3/4;
}

.group{
    grid-template-columns: 1fr 1fr;
}

.loading{
    color:white;
    font-size: 2rem;
    font-weight: 700;
}